# =========================
# 1) Secrets / Env
# =========================
.env
.env.*
!.env.example
dart_defines*.json
!dart_defines.example.json
android/key.properties
*.jks
*.keystore

# =========================
# 2) OS / Misc
# =========================
.DS_Store
*.swp
*.log
*.class
*.pyc
.atom/
.history
.svn/

# =========================
# 3) IDE
# =========================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code: 확장/설정은 공유 가능
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# 4) Flutter / Dart / Pub
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
/build/
**/doc/api/
coverage/

# iOS
**/ios/Flutter/.last_build_id
**/ios/.symlinks/
**/ios/Pods/
**/ios/DerivedData/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/

# Android
/android/.gradle
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# Linux/Windows/macOS (선택: 데스크탑 타깃 빌드 산출물)
# /linux/flutter/ephemeral/
# /windows/flutter/ephemeral/
# /macos/Flutter/ephemeral/

# =========================
# 5) Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json
